<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!--CSS Bootstrap-->
     <link rel="stylesheet" href="/css/all.min.css">
     <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
     <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <!--Icons Fontawesome-->
     <script src="https://kit.fontawesome.com/a707598919.js"></script>
     <!--CSS Custom-->
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
     <title>Tripple Hub Offline</title>
</head>
<body>
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary shadow">
        <a href="index.html" class="navbar-brand">TripAntero</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="destination.html" class="nav-link">Destination</a>
                </li>
                <li class="nav-item">
                    <a href="bookandplan.html" class="nav-link">Book & Plan</a>
                </li>
                <a name="" id="" class="btn btn-success my-2 my-sm-0 mr-1" href="signIn.html" role="button">Sign In As Guest</a>
            </ul>
        </div>
    </nav>
    <!--Navbar End-->
    <!--Carousel Start-->
    <div class="bd-example carousel-custom mt-2 shadow">
        <div id="carouselId" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner rounded-sm" role="listbox">
                <a href="detailCity.html">
                    <div class="carousel-item active overlay">
                        <img src="/images/jakarta.jpg" alt="First slide" class="d-block w-100">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Jakarta</h5>
                                <p>The Best Place Looking For Jobs</p>
                            </div>
                    </div>
                </a>
                <div class="carousel-item overlay rounded-sm">
                    <img src="/images/bandung.jpg" alt="Second slide" class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Bandung</h5>
                            <p>The Best Place To Be Fashionable</p>
                        </div>
                </div>
                <div class="carousel-item overlay rounded-sm">
                    <img src="/images/jogja.jpg" alt="Third slide" class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Jogjakarta</h5>
                            <p>The Best Place Looking For Foods</p>
                        </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--Carousel End-->
    <!--Container Start-->
    <div class="container">
        <!--Search Box Main Start-->
        <div class="row">
            <div class="col-7 bg-primary rounded-sm p-3 mx-auto mt-n4 shadow">
                <input type="text" name="" id="" class="form-control" placeholder="Search By City">
            </div>
        </div>
        <!--Search Box Main End-->

        <!--Destination Slider Start-->
        <!--Trending Start-->
        <div class="row mt-5">
            <div class="col-2 lead bg-primary text-white p-2 pl-4" style="margin-left: 15px;">Trending</div>
            <div class="col-1 ml-auto"><i class="fas fa-chevron-circle-left prev" style="width:30px;height:30px;"></i><i class="fas fa-chevron-circle-right next" style="width:30px;height:30px;"></i></div>
        </div>
        <div class="sliderContainer">
            <div class="row img mx-auto mt-n2">
                <div class="card mt-4" style="width: 22rem;height: 16rem;">
                    <img src="/images/bandung.jpg" alt="bandung" style="height: 12rem">
                    <div class="card-body">
                        <p class="card-text pt-n1">Bandung Teh Adem</p>
                    </div>
                </div>
                <a href="detailCity.html" class="card-custom text-dark mx-auto mt-4">
                    <div class="card" style="width: 22rem;height: 16rem;">
                        <img src="/images/jakarta.jpg" alt="bandung" style="height: 12rem">
                        <div class="card-body">
                            <p class="card-text">Jakarta Banyak Debu</p>
                        </div>
                    </div>
                </a>    
                <div class="card mt-4" style="width: 22rem;height: 16rem;">
                    <img src="/images/jogja.jpg" alt="bandung" style="height: 12rem">
                    <div class="card-body">
                        <p class="card-text">Jogja Banyak Angkringan</p>
                    </div>
                </div>
            </div>

            <div class="row img mx-auto mt-n2" style="width: 100%;">
                <div class="card mt-4 mr-auto" style="width: 22rem;height: 16rem;">
                    <img src="/images/bandung.jpg" alt="bandung" style="height: 12rem">
                    <div class="card-body">
                        <p class="card-text pt-n1">Bandung Teh Adem</p>
                    </div>
                </div>
                    <div class="card mx-auto mt-4" style="width: 22rem;height: 16rem;">
                        <img src="/images/jakarta.jpg" alt="bandung" style="height: 12rem">
                        <div class="card-body">
                            <p class="card-text">Jakarta Banyak Debu</p>
                        </div>
                    </div>
 
                <div class="card mt-4 ml-auto" style="width: 22rem;height: 16rem;">
                    <img src="/images/jogja.jpg" alt="bandung" style="height: 12rem">
                    <div class="card-body">
                        <p class="card-text">Jogja Banyak Angkringan</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Trending End-->
        <!--Cheapest Start-->
        <div class="col-2 lead bg-primary text-white p-2 pl-4 mt-4 ml-auto">Cheapest</div>
            <div class="row mx-auto mt-n2 mb-2">
                <div class="card mt-4" style="width: 22rem;height: 16rem;">
                    <img src="/images/bandung.jpg" alt="bandung" style="height: 12rem">
                    <div class="card-body">
                        <p class="card-text pt-n1">Bandung Teh Adem</p>
                    </div>
                </div>
                <a href="detailCity.html" class="card-custom text-dark mx-auto mt-4">
                    <div class="card" style="width: 22rem;height: 16rem;">
                        <img src="/images/jakarta.jpg" alt="bandung" style="height: 12rem">
                        <div class="card-body">
                            <p class="card-text">Jakarta Banyak Debu</p>
                        </div>
                    </div>
                </a>
                <div class="card mt-4" style="width: 22rem;height: 16rem;">
                    <img src="/images/jogja.jpg" alt="bandung" style="height: 12rem">
                    <div class="card-body">
                        <p class="card-text">Jogja Banyak Angkringan</p>
                    </div>
                </div>
            </div>
        <!--Cheapest End-->
        <!--Anything Start-->
        <div class="col-2 lead bg-primary text-white p-2 pl-4 mt-4">Anything</div>
            <div class="row mx-auto mt-n2">
                <div class="card mt-4" style="width: 22rem;height: 16rem;">
                    <img src="/images/bandung.jpg" alt="bandung" style="height: 12rem">
                    <div class="card-body">
                        <p class="card-text pt-n1">Bandung Teh Adem</p>
                    </div>
                </div>
                <a href="detailCity.html" class="card-custom text-dark mx-auto mt-4">
                    <div class="card" style="width: 22rem;height: 16rem;">
                        <img src="/images/jakarta.jpg" alt="bandung" style="height: 12rem">
                        <div class="card-body">
                            <p class="card-text">Jakarta Banyak Debu</p>
                        </div>
                    </div>
                </a>
                <div class="card mt-4" style="width: 22rem;height: 16rem;">
                    <img src="/images/jogja.jpg" alt="bandung" style="height: 12rem">
                    <div class="card-body">
                        <p class="card-text">Jogja Banyak Angkringan</p>
                    </div>
                </div>
            </div>
        <!--Anything End-->  
    <!--Destination Slider-->      
    </div>
    <!--Container End-->
    <!--Footer Start-->
    <footer class="footer-bs mt-5">
            <div class="row">
                <div class="col-md-3 footer-brand animated fadeInLeft">
                    <h2>Logo</h2>
                    <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                    <p>© 2014 BS3 UI Kit, All rights reserved</p>
                </div>
                <div class="col-md-4 footer-nav animated fadeInUp">
                    <h4>Menu —</h4>
                    <div class="col-md-6">
                        <ul class="pages">
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Nature</a></li>
                            <li><a href="#">Explores</a></li>
                            <li><a href="#">Science</a></li>
                            <li><a href="#">Advice</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 footer-social animated fadeInDown">
                    <h4>Follow Us</h4>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">RSS</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-ns animated fadeInRight">
                    <h4>Newsletter</h4>
                    <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                    <p>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                          </span>
                        </div><!-- /input-group -->
                     </p>
                </div>
            </div>
    </footer>
    <!--Footer End-->
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/all.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap3-typeahead.min.js"></script>
<script>
    //SLIDER IMAGE
    $(document).ready(function() {
        var i = 0;
        $(".next").bind({
            mouseenter: function() {
                $(this).css("color", "#007bff");
            },
            mouseleave: function() {
                $(this).css("color", "black");
            },
            click: function() {
                //if we are at the beginning of the image queue, set the previous image to the first image and the current image to the last image of the queue
                if (i==0) {
                    prevImg = $(".img").eq(0);
                    i=$(".img").length-1;
                    currentImg = $(".img").eq(i);
                }
                //decrease the display picture index by 1
                else { 
                    i-=1;
                    //set current and previous images
                    currentImg = $(".img").eq(i);
                    prevImg = $(".img").eq(i+1);
                }
                //call function to animate the rotation of the images to the left
                animateImageLeft(prevImg, currentImg);
            }
        });
        $(".prev").bind({
            mouseenter: function() {
                $(this).css("color", "#007bff");
            },
            mouseleave: function() {
                $(this).css("color", "black");
            },
            click: function() {
                //increase the display picture index by 1
                i+=1;
                //if we are at the end of the image queue, set the index back to 0
                if(i == $(".img").length) {
                    i=0;
                }
                //set current image and previous image
                var currentImg = $(".img").eq(i);
                var prevImg = $(".img").eq(i-1);
                //call function to animate the rotation of the images to the right
                animateImage(prevImg, currentImg);
            }
        });
        //function to animate the rotation of the images to the left
        function animateImageLeft(prevImg, currentImg) {
            //move the image to be displayed off the visible container to the right
            currentImg.css({"left":"105%"});
            //slide the image to be displayed from off the container onto the visible container to make it slide from the right to left
            currentImg.animate({"left":"0%"}, 1000);
            //slide the previous image off the container from right to left
            prevImg.animate({"left":"-105%"}, 1000);
        }
        //function to animate the rotation of the images to the right
        function animateImage(prevImg, currentImg) {
            //move the image to be displayed off the visible container to the left
            currentImg.css({"left":"-105%"});
            //slide the image to be displayed from off the container onto the visible container to make it slide from the left to right
            currentImg.animate({"left":"0%"}, 1000);
            //slide the image from on the container to off the container to make it slide from left to right
            prevImg.animate({"left":"105%"}, 1000);
        }
    });
</script>
</body>
</html>