<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!--CSS Bootstrap-->
     <link rel="stylesheet" href="/css/all.min.css">
     <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
     <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <!--Icons Fontawesome-->
     <script src="https://kit.fontawesome.com/a707598919.js"></script>
     <!--CSS Custom-->
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
     <title>Tripple Hub Offline</title>
</head>
<body>
    <%- include('component/navbar') %>
    <!--Navbar End-->
    <div class="jumbotron jumbotron-fluid p-0">
        <div class="d-block overlay">
            <img class="w-100" src="/images/jakarta.jpg" alt="" style="height: 600px;">
        </div>
        <!--Search Box Main Start-->
        <form action="/search" method="POST">
            <div class="col-7 bg-primary rounded-sm p-3 shadow position-absolute" style="top: 0;margin-top: 300px; margin-left: 275px;">
                <input type="text" name="search" class="form-control" placeholder="Let Me Know Your Destination" style="width: 96%;" autocomplete="off">
            </div>
        </form>
        <!--Search Box Main End-->
    </div>
   
    <div class="container-fluid">
        <div class="row overlay position-relative overflow-hidden" style="height: 500px; margin-top: 80px;">
            <img class="w-100" src="/images/plan.jpg" alt="">
            <div class="d-block position-absolute ml-5 text-light">
                <div class="w-75" style="margin: 100px 88.5px">
                    <h2 class="display-4">Make Your Plan</h2>
                    <p class="lead">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet illo corporis aspernatur cumque totam rerum voluptate vel repellat ullam impedit adipisci, laborum dicta aperiam sint molestiae saepe in beatae et.
                    </p>
                    <a name="" id="" class="btn btn-outline-warning" href="#" role="button">Start Now</a>
                </div>
            </div>
        </div>
    </div>    
    <!--Footer Start-->
    <footer class="footer-bs mt-5">
        <div class="row">
            <div class="col-md-3 footer-brand animated fadeInLeft">
                <h2>Logo</h2>
                <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                <p>© 2014 BS3 UI Kit, All rights reserved</p>
            </div>
            <div class="col-md-4 footer-nav animated fadeInUp">
                <h4>Menu —</h4>
                <div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">Explores</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Advice</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 footer-social animated fadeInDown">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">RSS</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-ns animated fadeInRight">
                <h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
</footer>
<!--Footer End-->
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/all.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap3-typeahead.min.js"></script>
</html>