<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <!--CSS Bootstrap-->
     <link rel="stylesheet" href="/css/all.min.css">
     <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
     <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <!--CSS Icons Fontawesome-->
     <link rel="stylesheet" href="/css/brands.min.css">
     <link rel="stylesheet" href="/css/fontawesome.min.css">
     <link rel="stylesheet" href="/css/regular.min.css">
     <link rel="stylesheet" href="/css/solid.min.css">
     <!--CSS Custom-->
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <!--Navbar Start-->
     <%- include('component/navbar') %>
    <!--Navbar End-->
    <!--Jumbotron Start-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-3 ml-n2" style="padding:0;">
                    <div class="col bg-info text-white border rounded shadow">
                        <h1 class="display-5">Overview</h1>
                        <p class="lead">This Space Available For Your Amazing Product</p>
                    </div>
                    <div class="col bg-warning border rounded shadow" style="margin-top: 20px;height:200px;">
                        <h1 class="display-5">Overview</h1>
                        <p class="lead">This Space Available For Your Imagination</p>
                    </div>
                </div>
                <div class="col-9 bg-primary text-white border rounded-sm ml-auto mr-n2 shadow">
                    <h1 class="display-4">Slider Image</h1>
                    <p class="lead">This Space Available For Your Astonishing Photo</p>
                </div>
            </div>
        </div>
    </div>    
    <!--Jumbotron End-->
    <!--Container Start-->
    <div class="container">
    <!--Search Box Main Start-->
        <div class="row">
            <div class="col-7 bg-primary rounded-sm p-3 mx-auto mt-n5 shadow">
                <input type="text" name="" id="" class="form-control" placeholder="Let Me Know Your Destination">
            </div>
        </div>
    <!--Search Box Main End-->    
    </div>
    <!--Container End-->
</body>
</html>