<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!--CSS Bootstrap-->
     <link rel="stylesheet" href="/css/all.min.css">
     <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
     <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <!--Icons Fontawesome-->
     <script src="https://kit.fontawesome.com/a707598919.js"></script>
     <!--CSS Custom-->
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
     <title>planDest</title>
</head>
<body>
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary shadow">
        <a href="index.html" class="navbar-brand">TrippleHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="destination.html" class="nav-link">Destination</a>
                </li>
                <li class="nav-item">
                    <a href="bookandplan.html" class="nav-link">Book & Plan</a>
                </li>
                <button class="btn btn-success my-2 my-sm-0 mr-1" type="button">Sign In</button>
                <button class="btn btn-secondary my-2 my-sm-0" type="button">Sign Up</button>
            </ul>
        </div>
    </nav>
    <!--Navbar End-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1 class="display-3">Plan Your Trip Here</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eveniet sapiente natus! Dolor quod temporibus similique architecto, voluptatem maiores voluptates minima placeat! Id voluptatum nesciunt quibusdam molestiae, exercitationem dignissimos! Saepe?</p>
                </div>
                <div class="col-4">
                    <div class="card ml-auto" style="width: 18rem;">
                        <div class="card-header">
                            <h4>Your Destination :</h4>
                        </div>
                        <img class="card-img-top rounded-0" src="/images/jakarta.jpg" alt="">
                        <div class="card-body lead">
                            <h3 class="card-title">Setu Babakan</h3>
                            <p class="card-text">A Place Full of Betawi Culture</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="display-4 mb-5 mt-5 text-center">Choose Your Plan</h2>
        <div class="row">
            <div class="card position-relative overflow-hidden ml-5" style="width: 18rem;height: 20rem;">
                <div class="d-block mx-auto">
                    <i class="fas fa-hotel" style="width: 21rem;height: 22rem;color:aliceblue;margin-left: 30px;"></i>
                </div>
                <div class="card-body position-absolute" style="z-index: 1;">
                    <h2 class="card-title"><i class="fas fa-hotel text-secondary"></i>  Hotel</h4>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <a name="" id="" class="btn btn-outline-warning mt-2" href="#" role="button">Get Your Hotel</a>
                </div>
            </div>

            <div class="card position-relative overflow-hidden mx-auto" style="width: 18rem;height: 20rem;">
                <div class="d-block mx-auto">
                    <i class="fas fa-ticket-alt" style="width: 21rem;height: 22rem;color:aliceblue;margin-left: 30px;"></i>
                </div>
                <div class="card-body position-absolute" style="z-index: 1;">
                    <h2 class="card-title"><i class="fas fa-ticket-alt text-secondary"></i>  Ticket</h4>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <a name="" id="" class="btn btn-outline-warning mt-2" href="#" role="button">Get Your Ticket</a>
                </div>
            </div>

            <div class="card position-relative overflow-hidden mr-5" style="width: 18rem;height: 20rem;">
                <div class="d-block mx-auto">
                    <i class="fas fa-clipboard-list" style="width: 21rem;height: 22rem;color:aliceblue;margin-left: 30px;"></i>
                </div>
                <div class="card-body position-absolute" style="z-index: 1;">
                    <h2 class="card-title"><i class="fas fa-clipboard-list text-secondary"></i>  Schedule</h4>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    <a name="" id="" class="btn btn-outline-warning mt-2" href="#" role="button">Make Your Scehdule</a>
                </div>
            </div>
        </div>
    </div>
     <!--Footer Start-->
     <footer class="footer-bs mt-5">
            <div class="row">
                <div class="col-md-3 footer-brand animated fadeInLeft">
                    <h2>Logo</h2>
                    <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                    <p>© 2014 BS3 UI Kit, All rights reserved</p>
                </div>
                <div class="col-md-4 footer-nav animated fadeInUp">
                    <h4>Menu —</h4>
                    <div class="col-md-6">
                        <ul class="pages">
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Nature</a></li>
                            <li><a href="#">Explores</a></li>
                            <li><a href="#">Science</a></li>
                            <li><a href="#">Advice</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 footer-social animated fadeInDown">
                    <h4>Follow Us</h4>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">RSS</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-ns animated fadeInRight">
                    <h4>Newsletter</h4>
                    <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                    <p>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                          </span>
                        </div><!-- /input-group -->
                     </p>
                </div>
            </div>
    </footer>
    <!--Footer End-->
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/all.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap3-typeahead.min.js"></script>
</html>    