<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!--CSS Bootstrap-->
     <link rel="stylesheet" href="css/all.min.css">
     <link rel="stylesheet" href="css/bootstrap-grid.min.css">
     <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
     <!--Icons Fontawesome-->
     <script src="https://kit.fontawesome.com/a707598919.js"></script>
     <!--CSS Custom-->
     <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
     <title>Make Plan</title>
</head>
<body>
    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="index.html" class="navbar-brand mx-auto">TripAntero</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <!--Navbar End-->
    <div class="container">
        <div class="row mt-5">
            <div class="col-8 mx-auto">
                <h2 class="display-3">Edit Plan</h2>
            </div>    
        </div>
        <form action="" method="post">
        <div class="row mt-5">
            <div class="col-10 ml-auto">
                <h2>Name Of Plan</h2>
                <input type="text" class="form-control" placeholder="Name Your Plan" value="Watching Persija">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-8 mx-auto">
                <h2>Date</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-4 ml-auto">
                <!--The "from" Date Picker -->
                <label for="startingDate">start</label>
                <input type="date" name="" id="start-dating" class="form-control">
            </div>
            <div class="col-6 mb-4 mr-auto">
                <!--The "to" Date Picker -->
                <label for="EndingDate">End</label>
                <input type="date" name="" id="end-dating" class="form-control">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 ml-auto">
                <h2>Destination</h2>
            </div> 
            <div class="col-2 ml-auto mt-2">
                <a name="" id="" class="btn btn-secondary ml-auto" href="editDestination.html" role="button"><i class="fas fa-edit"></i> Edit</a>
            </div>
            <div class="col-10 position-relative overlay overflow-hidden p-0 mt-2 ml-auto border rounded shadow" style="height: 300px;">
                <img clas="w-100" src="images/jakarta.jpg" alt="">
                <div class="position-absolute text-light" style="top:40px;left:20px;">
                    <h2 class="display-4">Gelora Bung Karno</h2>
                    <p class="lead">Home Of Sports Jakarta</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 ml-auto">
                <h2>Hotel</h2>
            </div> 
            <div class="col-2 ml-auto mt-2">
                    <a name="" id="" class="btn btn-primary ml-auto" href="makePlan.html" role="button"><i class="fas fa-plus"></i> Make Plan</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 ml-auto">
                <h2>Transportation</h2>
            </div> 
            <div class="col-2 ml-auto mt-2">
                    <a name="" id="" class="btn btn-primary ml-auto" href="makePlan.html" role="button"><i class="fas fa-plus"></i> Make Plan</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 ml-auto">
                <h2>Ticket & Attraction</h2>
            </div> 
            <div class="col-2 ml-auto mt-2">
                    <a name="" id="" class="btn btn-primary ml-auto" href="makePlan.html" role="button"><i class="fas fa-plus"></i> Make Plan</a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 ml-auto">
                <h2>Schedule</h2>
            </div> 
            <div class="col-2 ml-auto mt-2">
                    <a name="" id="" class="btn btn-primary ml-auto" href="makePlan.html" role="button"><i class="fas fa-plus"></i> Make Plan</a>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-1 ml-auto">
                <button type="submit" class="btn btn-success" style="width: 90px;">Submit</button>
            </div>
            <div class="col-1">
             <a name="" id="" class="btn btn-secondary" href="#" role="button" style="width: 90px;">Cancel</a>
            </div>
        </div>
    </form>
    </div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/all.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap3-typeahead.min.js"></script>
</html>